<div class="row">
  <div class="col-lg12 col-md12 col-xs12 text-center agination-centered" >
    <%= link_to image_tag(asset_path('instagram-screenshot.png'), title: t('login_instagram'), id: 'instagram_logo'), Instagram.authorize_url(:redirect_uri => ENV['CALLBACK_URL']), id: 'instagram_link' %>
    <h3><%= t('login_instagram') %></h3>
  </div>
</div>